Client/BlackjackClient/xml-resources/web-service-references/BlackjackService/wsdl/localhost_8080/Server/BlackjackService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://main/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://main/">

<xs:element name="DealCard" type="tns:DealCard"/>

<xs:element name="DealCardResponse" type="tns:DealCardResponse"/>

<xs:element name="GetHandValue" type="tns:GetHandValue"/>

<xs:element name="GetHandValueResponse" type="tns:GetHandValueResponse"/>

<xs:element name="Shuffle" type="tns:Shuffle"/>

<xs:element name="ShuffleResponse" type="tns:ShuffleResponse"/>

<xs:complexType name="Shuffle">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ShuffleResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="DealCard">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="DealCardResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetHandValue">
<xs:sequence>
<xs:element name="hand" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetHandValueResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>